@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/bulma";

/* Colors provided by client */
$crimson: #a00d5b;
$pink: #ed2b91;
$blue: #0fa7ba;
$primary: #1591a0;
$yellow: #f0db44;

/* Others */
$grey-10: #dbdbdb;
$grey-20: #aaaaaa;
